.venv
__pycache__/
.env
*.env.*
*.pyc
*.pyo
*.pyd
.DS_Store
.pytest_cache/
**/.idea/
**/.vscode/
*.log
dist/
build/
*.egg-info/
.mypy_cache/
.ruff_cache/
coverage.*
*.sqlite3
data/*.json
data/uploads/
temp/
